.row
	.container
		#coleccion
		.col-lg-12
			%hr.coleccion
			%h2.text-center COLECCIÓN
			.row
				
				.col-lg-3
					=link_to "#" do
						.image-1
							.content
								%h4 HALUR
								%p El reloj de fuego

						%p.text-left
							%h4 HALUR
							%h5 Reloj / Madera de Laurel
							%hr.producto
							.more 
								+ ver más

				.col-lg-3
					=link_to "#" do
						.image-2
							.content
								%h4 CKELAR
								%p El reloj de fuego

						%p.text-left
							%h4 CKELAR
							%h5 Reloj / Madera de Roble
							%hr.producto
							.more 
								+ ver más

				.col-lg-3
					=link_to "#" do
						.image-3
							.content
								%h4 HUNTUR
								%p El reloj de fuego

						%p.text-left
							%h4 HUNTUR
							%h5 Reloj / Madera de Ulmo
							%hr.producto
							.more 
								+ ver más

				.col-lg-3
					=link_to "#" do
						.image-4
							.content
								%h4 CAUR
								%p El reloj de fuego
						%p.text-left
							%h4 CAUR
							%h5 Reloj / Madera de Lenga
							%hr.producto
							.more 
								+ ver más