.row
	.container
		.col-lg-12
			%hr
			%h2.text-center COLECCION
			.row
				
				.col-lg-3
					=link_to "#" do
						=image_tag 'halur.png'
						%p.text-left
							%h4 HALUR
							%h5 Reloj / Madera de Laurel
							%hr
							+ VER MAS

				.col-lg-3
					=link_to "#" do
						=image_tag 'ckelar.png'
						%p.text-left
							%h4 CKELAR
							%h5 Reloj / Madera de Roble
							%hr
							+ VER MAS

				.col-lg-3
					=link_to "#" do
						=image_tag 'huntur.png'
						%p.text-left
							%h4 HUNTUR
							%h5 Reloj / Madera de Ulmo
							%hr
							+ VER MAS

				.col-lg-3
					=link_to "#" do
						=image_tag 'caur.png'
						%p.text-left
							%h4 CAUR
							%h5 Reloj / Madera de Lenga
							%hr
							+ VER MAS