.row
	.container
		.col-lg-12
			%hr
			%h2.text-center FILOSOFÍA
			
			.row
				.col-lg-12
					=image_tag 'filosofia.png'

				.col-lg-5
					%h3 MANIFESTO
					%p
						Creemos en el como nuestro contexto, en especial nuestra tierra y naturaleza, es un motor para inspirar emociones que generen historias de vida y recuerdos.
						Creemos en las historias y emociones que la natura- leza nos puede entregar, y en el como esto enlaza nuestras vidas. Creemos en el lazo entre el hombre y la tierra, las historias que comparten y las emociones que se entregan.
						De la mano de un diseño tradicional, la asociación con los cuna de la relojería y el apoyo de comu- nidades indigenas. Así llegamos a Ttanti, un reloj de madera nativa chilena, el cual personifica en un solo ser los atributos necesarios para conectar a una persona con sus mas emocionantes recuerdos con su tierra.

				.col-lg-7
					%h3 ROOTS & STORIES
					%p
						ExistE un vínculo indisolublE EntrE la tiErra y El hombrE. dE la tiErra vEnimos, y hacia allá nos dirijimos. a la tiErra mágica llEna dE Encanto, quE vivE hacE milEs dE años En constantE transformación, cargando con infinitas histo- rias. historias, mitos y lEyEndas pasadas dE gEnEración En gEnEración. ha rEcibido nuEstros piEs dEscalzos, ha bañado nuEstros cuErpos. viEja y sabia, tiErra quE rEspira, EscupE fuEgo y Es progEnitora dE majEstuosas montañas. nuEstras raícEs crEcEn profundamEntE En Ella, dEsdE hacE milEs dE años, sEguirEmos EscribiEndo nuEstra historia En Ella por siEmprE.