.row
	#filosofia
	.container
		.col-lg-12
			%hr
			%h2.text-center FILOSOFÍA
			
			.row
				.col-lg-12
					=image_tag 'filosofia.png', class: 'filosofia'

				.col-lg-5.manifesto
					%h3.manifesto-title MANIFESTO
					%p
						Creemos en el cómo nuestro contexto, en especial nuestra tierra y naturaleza, es un motor para inspirar emociones que generen historias de vida y recuerdos.
						Creemos en las historias y emociones que la naturaleza nos puede entregar, y en el cómo esto enlaza nuestras vidas.
						Creemos en el lazo entre el hombre y la tierra, las historias que comparten y las emociones que se entregan.
						De la mano de un diseño tradicional, la asociación con los cuna de la relojería y el apoyo de comunidades indígenas.
						Así llegamos a Ttanti, un reloj de madera nativa chilena, el cual personifica en un solo ser los atributos necesarios para conectar a una persona con sus más emocionantes recuerdos con su tierra.


				.col-lg-7.rootandstories
					%h3 ROOTS & STORIES
					%p
						Existe un vínculo indisoluble entre la tierra y el hombre. De la tierra venimos, y hacia allá nos dirijimos. A la tierra mágica llena de encanto, que vive hace miles de años en constante transformación, cargando con infinitas historias. Historias, mitos y leyendas pasadas de generación en generación. Ha recibido nuestros pies descalzos, ha bañado nuestros cuerpos. Vieja y sabia, tierra que respira, escupe fuego y es progenitora de majestuosas montañas. Nuestras raíces crecen profundamente en ella, desde hace miles de años, seguiremos escribiendo nuestra historia en ella por siempre.