%nav.collapse.navbar-collapse{role: 'navigation'}
	%ul.nav.navbar-nav
		%li=link_to 'HOME', "#"
		%li=link_to 'COLECCION', "#"
		%li=link_to 'FILOSOFIA', "#"
		%li
			=link_to root_path, class: 'logo' do
				=image_tag 'logo.svg'

		%li=link_to 'PROCESO', "#"
		%li=link_to 'ESCRIBENOS', "#"
		%li=link_to 'carro vacio', "#"
		