%nav.collapse.navbar-collapse{role: 'navigation'}
	%ul.nav.navbar-nav
		%li.menu-top.text-left=link_to 'HOME', "#home"
		%li.menu-top.text-left=link_to 'COLECCION', "#coleccion"
		%li.menu-top.text-left=link_to 'FILOSOFIA', "#filosofia"
		%li.text-center
			=link_to root_path, class: 'logo' do
				#logo_site.logo-one


		%li.menu-top.text-right=link_to 'PROCESO', "#proceso"
		%li.menu-top.text-right=link_to 'ESCRIBENOS', "#"
		%li.menu-top.text-right=link_to 'carro vacio', "#"
		