%nav.collapse.navbar-collapse{role: 'navigation'}
	%ul.nav.navbar-nav
		%li.menu-top.text-left=link_to 'HOME', "#"
		%li.menu-top.text-left=link_to 'COLECCION', "#"
		%li.menu-top.text-left=link_to 'FILOSOFIA', "#"
		%li.text-center
			=link_to root_path, class: 'logo' do
				#logo_site.logo-one


		%li.menu-top.text-right=link_to 'PROCESO', "#"
		%li.menu-top.text-right=link_to 'ESCRIBENOS', "#"
		%li.menu-top.text-right=link_to 'carro vacio', "#"
		