.row
	#proceso
	.container
		.col-lg-12
		%hr
		%h2.text-center PROCESO
		.row
	
			.col-lg-3
				%h5 la selección.
				%p
					Seleccionamos minuciosamente madera certificada por la FSC (Forest Stewardship Council), asegurándonos así el manejo responsable de los bosques de nuestro país.

			.col-lg-3
				%h5 preparación de la madera.
				%p
					Una vez seleccionada, la madera es cepillada y se deja lisa, sin perder su veta. Posteriormente la madera es dimen- sionada para dar forma a las piezas del próximo reloj.

			.col-lg-3
				%h5 el ensamblaje. 
				%p
					Las piezas son lijadas y ensambladas. Luego se les aplica un sellador certificado, para mantener el estado óptimo de la madera.

			.col-lg-3
				%h5 para terminar el reloj.
				%p
					Finalmente, se inserta el motor suizo y el vidrio. Se completa el proceso al instalar las correas de cuero o de telar Mapuche.

			.col-lg-12
				=image_tag 'proceso.png', class: 'proceso'

				