body{
	margin-top: -40px;
	.navbar-inverse{
		background-color: white;
		border: 0px solid white;
	}



	@font-face {
		font-family: 'Neutra Text';
		src: url('/assets/NeutraText-Book.woff') format('woff'), url('/assets/NeutraText-Book.ttf') format('truetype'), url-font('/assets/NeutraText-Book.svg') format('svg');
		src: url('/assets/NeutraText-Book.eot');
  	src: url('/assets/NeutraText-Book.eot?#iefix') format('embedded-opentype'), 
  		url('/assets/NeutraText-Book.ttf') format('truetype'),
  		url('/assets/NeutraText-Book.svg') format('svg');

		font-weight: normal;
		font-style: normal;
	}

	a, a:hover{
		text-decoration: none;
	}

	.mainTopScroll{
		padding-top: 25px
	}

	.image-1, .image-2, .image-3, .image-4{
		width: 275px;
		height: 278px;
		.content{
			display: none;
		}
	}

	#show-site{
		margin-top: -100px;
	}

	.image-1{
		background: url('01.png') no-repeat;
		&:hover{
			.content{
				background-color: rgba(255, 255, 255, 0.8);
				display: block;
				width: 275px;
				height: 278px;

				h4{
					font-family: 'Neutra text';
					margin-top: 0px;
					font-weight: 100;
					padding: 15px 0px 0px 15px;
					font-size: 2.2em;
					margin-bottom: 0px;
				}

				p{
					padding: 0px 0px 0px 16px;
					color: black;
					font-family: 'Neutra text';
					font-size: 1.1em;
				}
			}
		}
	}

	.image-2{
		background: url('02.png') no-repeat;
		&:hover{
			.content{
				background-color: rgba(255, 255, 255, 0.8);
				display: block;
				width: 275px;
				height: 278px;

				h4{
					font-family: 'Neutra text';
					margin-top: 0px;
					font-weight: 100;
					padding: 15px 0px 0px 15px;
					font-size: 2.2em;
					margin-bottom: 0px;
				}

				p{
					padding: 0px 0px 0px 16px;
					color: black;
					font-family: 'Neutra text';
					font-size: 1.1em;
				}

			}
		}
	}



	.image-3{
		background: url('03.png') no-repeat;
		&:hover{
			.content{
				background-color: rgba(255, 255, 255, 0.8);
				display: block;
				width: 275px;
				height: 278px;

				h4{
					font-family: 'Neutra text';
					margin-top: 0px;
					font-weight: 100;
					padding: 15px 0px 0px 15px;
					font-size: 2.2em;
					margin-bottom: 0px;
				}

				p{
					padding: 0px 0px 0px 16px;
					color: black;
					font-family: 'Neutra text';
					font-size: 1.1em;
				}
			}
		}
	}

	.image-4{
		background: url('04.png') no-repeat;
		&:hover{
			.content{
				background-color: rgba(255, 255, 255, 0.8);
				display: block;
				width: 275px;
				height: 278px;

				h4{
					font-family: 'Neutra text';
					margin-top: 0px;
					font-weight: 100;
					padding: 15px 0px 0px 15px;
					font-size: 2.2em;
					margin-bottom: 0px;
				}

				p{
					padding: 0px 0px 0px 16px;
					color: black;
					font-family: 'Neutra text';
					font-size: 1.1em;
				}
			}
		}
	}

	.icono{
		background:url('iconos.png');
	}

	.ico-manifesto{
		width: 30px;
		height: 30px;
	}

	.ico-carro{
		width: 73px;
		height: 60px;
		float: left;
		background-position: 343px 572px;
		zoom: 0.46;
	}

	.carro-phare{
		float:left;
	}

	.ico-carro{
		float: right;
	}

	.filosofia, .proceso{
		overflow: hidden;
		width: 100%;
		margin-top:15px;
		margin-bottom: 15px;
	}


	.more{
		color: #6365a0;
		font-weight: 200;
	}

	h1,h2,h3,h4,h5{
		font-family: 'Neutra Text' !important;

	}

	h2{
		font-weight: 100;
		margin-bottom: 50px;
		margin-top: 30px;
	}

	h4{
		color: black;
		font-weight: 300;
		font-size: 12pt;
	}

	h5{
		font-weight: 300;
		font-size: 100;
		color: black;
	}

	hr{
		border-top: 1.5px solid black;
	}

	hr.producto{
		margin-bottom: 5px;
		margin-top: 5px;
		border: 1px dotted grey;
	}

	hr.coleccion{
		margin-top: 40px;
		margin-bottom: 30px;
	}

	.menu-top{
		padding-top: 25px;
	}
	.menu-top-show{
		padding-top: 25px;
	}

	.menu-top-scroll{
		padding-top: 27px;
	}

	.navbar{
		margin-bottom: 0px;
	}

	ul.navbar-nav{
		li{
			width: 14%;

			a{
				color: black;
			}
		}
		font-family: 'Neutra Text' !important;
	}

	.nav{
		width: 100%;
		li{
			a:hover{
				background-color:white;
			}
		}
	}

	.carro-menu{
		width: 182px !important;
		float: right;
	}

	.slider{
		width: 100%;
		height: 345px;
		background-color: grey;
	}

	.logo{
		width: 180px;
	}

	.logoOne{
		background: url('logo.svg') no-repeat;
		width: 200px;
		height: 150px;
	}

	.logoTwo{
		background: url('logos.svg') no-repeat;
		width: 230px;
		height: 60px;
	}

	.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
		color: black;
	}

	.navbar-inverse .navbar-nav > li > a{
		color: black;
	}

	h3.manifesto-title{
		font-size: 14pt;
	}

	.manifesto{
		border-right: 2px solid;
		margin-top: 35px;
		margin-bottom: 35px;
		font-family: 'Neutra Text';
		font-size: 10.5pt;
		padding-right: 30px;
	}

	.rootandstories{
		margin-top: 35px;
		margin-bottom: 35px;
		text-transform: uppercase;
		font-family: 'Neutra Text';
		font-size: 12pt;
		padding-left: 40px;
	}

}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
.fill{width:100%;height:100%;background-position:center;background-size:cover;}

/* faster sliding speed */
.carousel-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

#home{
	margin-top:-35px;
	margin-bottom: 45px;
}

header.navbar{
	height: 80px;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}
