.producto-sub{
	text-transform: none;
	font-size: 0.85em;
	color: black;
	margin: 0px;
	margin-top: -1em;
	font-weight: 300;
}

.volver{
	color:#6365A0;
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
}

.producto{
	color:#212121;
}

.titulo_producto{
	margin: 0;
	text-transform: uppercase;
	font-size: 1.7em;
}

.descripcion_producto{
	margin: 0;
	font-size: 1.7em;
}

.precio_producto{
	font-size: 3.8em;
}

.agregar_carro{
	margin-bottom: 3em;
	a{
		color: #6365A0;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 1em;
		float:left;
		&:hover{
			cursor: pointer;
		}
	}

	ul{
		display: none;
		list-style: none;
		float:left;
		position: absolute;
		margin-left: 9.5em;
		color: white;
		font-weight: 300;
		li{
			cursor: pointer; 
			cursor: hand;
			background-color:#6365A0;
			text-align: center;
			text-transform: uppercase;
			margin: 2px 0px;
			padding: 5px 15px;
		}
	}
}

.showUl{
	display: block !important;
}

.hideProduct{
	display: none !important;
}

.phrase_exist_product{
	font-weight: 500;
	padding-left: 2.4em;
	float: left;
}

.detalles_producto{
	h4{
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 2em;
	}

	ul{
		li{
			font-size: 0.85em;
		}
	}
}

.menu-pago{
	margin-top:1.17em;
	list-style-type: none;
	li{
		background-color: rgba(99, 101, 160, 0.8);
		width: 100% !important;
		text-align: left;
		padding: 0.6em;
		color:white;
		margin-top: 0.09em;
	}
}

.menu-pago-link{
	margin-left: -6em;
}

