.producto-sub{
	text-transform: none;
	font-size: 1em;
	color: black;
	margin-bottom:5px;
}

.volver{
	color:#6365A0;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
}

.producto{
	color:#212121;
}