<div ng-controller="ShowCtrl" class="page {{ pageClass }}" >
	
	<header class="navbar navbar-inverse navbar-fixed-top show-page-site" id="show-page" role="banner">
	  <div class="container">
	  	<nav class="collapse navbar-collapse" role="navigation">
		  	<ul class="nav navbar-nav">
		  		<li class="menu-top-show text-left">
		  			<a href="#">HOME</a>
		  		</li>
		  		<li class="menu-top-show text-left">
		  			<a href="#">COLECCION</a>
		  		</li>
		  		<li class="menu-top-show text-left">
		  			<a href="#">FILOSOFIA</a>
		  		</li>

		  		<li class="text-center">
		  			<a href="#" class="logo">
		  				<div id="logo_site" class="logoTwo"></div>
		  			</a>
		  		</li>

		  		<li class="menu-top-show text-right">
		  			<a href="#">PROCESO</a>
		  		</li>

		  		<li class="menu-top-show text-right">
		  			<a href="#">ESCRIBENOS</a>
		  		</li>

		  		<li class="menu-top-show text-right carro-menu">
		  			<a href="#"><p class="carro-phare">carro de compras</p>
		  			<div class="icono ico-carro"></div></a>
		  		</li>

		  	</ul>
		  </nav>
	  </div>
	 </header>

	<div class="container" id="show-site">
		<div class="row">
			<div class="col-md-12">
				<p class="text-left producto-sub">Coleccion / {{product.name}}</p>
				<p class="text-left">
					<a href="#/#coleccion" class="text-left volver">Volver</a>
				</p>
			</div> 	
		</div>
		<div class="row producto">
			<div class="col-md-5">
				imagenes
			</div>
			<div class="col-md-7 text-left">
				<h1 class="titulo_producto">{{product.name}}</h1>
				<h2 class="descripcion_producto">{{product.description}}</h2>
				<hr />
				<strong class="precio_producto">&#36;{{product.precio}}</strong>
			</div>
		</div>
	</div>

</div>
